<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <body>
        <div class="conteiner ">
            <div class="col">
                <div class="row">
                    <br>
                    <div class="col-6">
                        <h1>Bienvenido a mi one Page</h1>
                        <br>
                        <p>echale un vistazo a mis tarjetas.</p>

                    </div>
                    <div class="col-6">
                        <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi8GlsVlbyUyg6_iHMArvIZH4KNnIqzDRuog&s" alt="Aqui va una imagen ">

                    </div>
                </div>
                <div class="row" id="tarjetas">
                    <div class="card col-4">
                        <div class="card-body">
                            <h5 class="card-title">Esta es mi tarjeta por defecto</h5>
                            <p class="card-text">este es mi texto generico Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas voluptates laudantium deleniti. Voluptas reiciendis voluptatum doloremque neque magni, itaque, esse reprehenderit aliquid consectetur labore amet facilis totam nihil a unde.
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam debitis doloremque velit at non eius. Nobis amet qui quis sit, explicabo fugiat nesciunt. Fugit laborum pariatur itaque veritatis consequatur quas.
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam minus labore dolores non! Beatae harum maxime soluta adipisci atque quae eius eaque, amet explicabo omnis sit, quisquam corrupti fugiat. Sit?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            //Logica para la generacion de tarjetas 
        
            function loadCards(title, text){
                var card = document.createElement('div');
                card.setAttribute("class","card col-4");
                
                var body =document.createElement('div');
                body.setAttribute("class","card-body");

                var h5 =document.createElement('h5');
                h5.setAttribute('class','card-title');
                h5.innerHTML = title;

                var p =document.createElement('p');
                p.setAttribute('class','card-text');
                p.innerHTML = text;

                body.appendChild(h5);
                body.appendChild(p);
                card.appendChild(body);

                document.getElementById('tarjetas').appendChild(card);
            }

                var i =1;

                window.addEventListener('scroll',()=>{
                    if ((window.innerHeight + window.scrollY)
                    >=document.body.offsetHeight-10){
                        for(let index = 0; index < 5; index ++){
                            if(i>100){
                                break;
                            }
                            var object={
                                title:'Esta es la card: ' + i,
                                text: 'Este es el texto generico de la card: '+ i
                            }
                        }
                        loadCards(object.title,object.text);
                        i++;
                    }
                });
            

        </script>
    </body>

</body>
</html>